<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>backendUrl</key>
		<string>https://dev.backend.url</string>
	</dict>
	<key>Staging</key>
	<dict>
		<key>backendUrl</key>
		<string>https://staging.backend.url</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>backendUrl</key>
		<string>https://production.backend.url</string>
	</dict>
</dict>
</plist>
